<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Edit product</h2>

        <form
          action="/admin/edit-product/{{product._id}}"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="fname">name</label>
          <input
            type="text"
            id="fname"
            name="name"
            class="form-control"
            value="{{product.name}}"
          />
          <label for="lname">category</label>
          <input
            type="text"
            id="lname"
            name="category"
            class="form-control"
            value="{{product.category}}"
          />
          <label for="fname">price</label>
          <input
            type="text"
            id="fname"
            name="price"
            class="form-control"
            value="{{product.price}}"
          />
          <label for="fname">description</label>
          <input
            type="text"
            id="fname"
            name="description"
            class="form-control"
            value="{{product.description}}"
          />
          <label for="fname">total quantity</label>
          <input
            type="text"
            id="fname"
            name="totalQuantity"
            class="form-control"
            value="{{product.totalQuantity}}"
          />
           <input
            type="text"
            id="fname"
            name="availability"
            class="form-control"
            
            hidden
          />
          <label for="">image</label>
          <img
            style="width: 100px;height:auto;"
            src="/product-images/{{product._id}}.jpg"
            alt=""
            id="imgView"
          />
          <input
            type="file"
            name="image"
            class="form-control"
            onchange="viewImage(event)"
          />

          <button type="submit" class="btn btn-success mt-4">submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function viewImage(event){ console.log(event)
  document.getElementById("imgView").src=URL.createObjectURL(event.target.files[0])
  }
</script>