<section>
  <div class="class container">
    <div class="row mt-5 col-md-6">
        </div>
    
    
    <table class="table table-striped mt-5 mb-5 ">
      <thead class="table-dark"> 
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Address</th>
          <th scope="col">Pincode</th>
          <th scope="col">Mobile</th>
          <th scope="col">Amount</th>
          <th scope="col">Payment</th>
          <th scope="col">Status</th>
          <th scope="col">Order details</th>
        </tr>
      </thead>
      <tbody class="table-success">
        {{#each orders}}
          <tr>
            
            <td>{{this.date}}</td>
            <td>{{this.deliveryDetails.address}}</td>
            <td>{{this.deliveryDetails.pincode}}</td>
            <td>{{this.deliveryDetails.mobile}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.paymentMethod}}</td>
            <td>{{this.status}}</td>
            
            <td><a href="/view-order-products?id={{this._id}}" class="btn btn-cyan btn-outline-primary">view products</a></td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>
</section>